/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}


/*
 * Header
 */

.nav-masthead .nav-link {
  color: rgba(255, 255, 255, .5);
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.social {
    color: rgba(255, 255, 255, .5);
}

h1 {
    font-family: 'Passion One', cursive;
    font-size: 85px;
}

p {
    font-family: 'Rubik', sans-serif;
    font-size: 17px;
}

hr {
    border-top-width: 1px;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.triangle2 {
    position: absolute;
    animation: spin 10s linear infinite; 
}

@keyframes spin{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}

.rocketman {
    max-width: 115%;
    max-height: 115%;
}

.space {
    background-image: url('/images/moon.png');
    background-repeat: no-repeat;
    background-position-x: 226%;
    background-position-y: -45%;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@keyframes move {
    0% {
        background-position: 0% 0%;
    }
    230% {
        background-position: 200% 200%;
    }
}

.circle {
    background-image: url('/images/circle.png');
    background-repeat: no-repeat;
    background-size: 102%;
    background-position-y: 100%;
    background-position-x: 20%;
    animation-name: animatedBackground;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-duration: 12s;
}

@keyframes animatedBackground{
    from{background-position: 0 0;}
    to{background-position: 20% 100%;}
}

.skill {
    height: 120px;
    width: 200px;
}

ul {
    list-style: none;
    text-align: left;
}

 .arrows {

    position: relative;
    animation: arrows .5s 1s infinite ease-out alternate;
} 

.arrows:hover{
    animation-play-state: paused;
 }

 @keyframes arrows {
0% {
    bottom:0px;
}
100%{
    bottom: 40px;
}
} 
/* 
.arrows{
    
    position:absolute;
    
    -webkit-animation: arrows 0.5s 1s infinite ease-out alternate;
    
  }
  
  .arrows:hover{
     -webkit-animation-play-state: paused;
  }
  
  @-webkit-keyframes arrows{
    0% {
      bottom:0px;
    }
    100%{
      bottom:40px;
    }
  }
  
  
   */